.noteContainer button{
    /*border-radius: 2px;*/
    padding:9px;
    width: 120px;
    font-family:sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.noteContainer .shareKeyBtn{
    width: 200px
}

.shown {
    width: 100%;
    height: 350px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 5px;
    padding: 4px;
    padding-top:2px;
}

